.container{
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.max_container{
  width: 100%;
  max-width: 1550px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../img/joy_stick.png");
  background-repeat: no-repeat;
  background-position: 874px 0;
}