* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #000;
  color: white;
  
}
img {
  max-width: 100%;
  height: auto;
}
ul{
  padding-left: 0;
  list-style: none;
}

a{
  text-decoration: none;
}